.btn {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}
button {
  width: 200px;
  height: 50px;
  font-family: sans-serif;
}

/* container */
.container {
  min-height: 100px;
  width: auto;
  background-color: azure;
  margin: 40px 0 0 0;
  display: flex;
  border-width: 0 5px 5px 5px;
  border-style: double;
  border-color: gainsboro;
  flex-wrap: wrap;
  flex-flow: wrap-reverse;
}
.ball {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: green;
}
