.btn {
  margin-top: 10%;
}
button {
  width: 200px;
  height: 50px;
  position: relative;
  left: 43%;
}

/* container */
.container {
  height: 100px;
  width: auto;
  background-color: azure;
  margin: 40px 0 0 0;
  display: flex;
  border-width: 0 5px 5px 5px;
  border-style: double;
  border-color: gainsboro;
}
.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: green;
}
